<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Vue.js Tutorial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.css" rel="stylesheet"/>
    <style>
    
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
</head>
<body>
    
    <div id="app">
        <div class="container">
            <p><br/></p>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th width="130">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in items" v-bind:key="item.id">
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone }}</td>
                                <td>{{ item.address }}</td>
                                <td class="text-center">
                                    <button @click="edit(item)" class="btn btn-warning btn-sm">Edit</button>
                                    <button @click="destroy(item)" class="btn btn-danger btn-sm">Trash</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" v-model="input.id" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" v-model="input.name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" v-model="input.email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="tel" v-model="input.phone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" v-model="input.address"></textarea>
                        </div>
                        <button v-if="savebtn" @click.prevent="save" class="btn btn-primary">Save</button>
                        <button v-if="updatebtn" @click.prevent="update(input.id)" class="btn btn-warning">Update</button>
                        <button @click.prevent="clear" class="btn btn-info">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                items : [],
                input: {
                    id: '',
                    name: '',
                    email: '',
                    phone: '',
                    address: ''
                },
                savebtn: true,
                updatebtn: false
            },
            created: function () {
                if(localStorage.getItem('items')){
                    this.view()
                    this.localData()
                    this.items = JSON.parse(localStorage.getItem('items'))
                }
            },
            methods: {
                localData: function () {
                    let parsed = JSON.stringify(this.items)
                    localStorage.setItem('items', parsed)
                },
                view: function () {
                    this.items = [
                        { id: '1', name: 'Tedir Ghazali', email: 'tedirghazali@gmail.com', phone: '08675554666', address: 'Jl Babah Dua'},
                        { id: '2', name: 'Bukhari', email: 'bukhari@gmail.com', phone: '0867656668', address: 'Kembang Tanjong' },
                        { id: '3', name: 'Boyhaki', email: 'boyhaki@hotmail.com', phone: '0867656667', address: 'Desa Baroh' },
                        { id: '4', name: 'Zulkifli', email: 'zulkifli@ymail.com', phone: '0867656666', address: 'Desa Beureuleung' },
                        { id: '5', name: 'Nurjannah', email: 'nurjannah@gmail.com', phone: '0867656669', address: 'Seulimum' }
                    ]
                },
                save: function () {
                    var id = this.input.id
                    var nm = this.input.name
                    var em = this.input.email
                    var pn = this.input.phone
                    var ad = this.input.address
                    
                    this.items.push({id: id, name: nm, email: em, phone: pn, address: ad})
                    this.clear()
                    
                    this.localData()
                    
                    swal('Added', 'Berhasil tambah data', 'success')
                },
                clear: function () {
                    this.savebtn = true
                    this.updatebtn = false
                    this.input.id = ''
                    this.input.name = ''
                    this.input.email = ''
                    this.input.phone = ''
                    this.input.address = ''
                },
                edit: function (item) {
                    this.savebtn = false
                    this.updatebtn = true
                    this.input.id = item.id
                    this.input.name = item.name
                    this.input.email = item.email
                    this.input.phone = item.phone
                    this.input.address = item.address
                },
                update: function (id) {
                    var myid = id - 1
                    Object.assign(this.items[myid], this.input)
                    this.clear()
                    
                    this.localData()
                    
                    swal('Updated', 'Berhasil mengubah data', 'warning')
                },
                destroy: function (item) {
                    var del = this.items.indexOf(item)
                    swal({
                        title: 'Deleted',
                        text: 'Are you sure',
                        icon: 'error',
                        buttons: true,
                        dangerMode: true
                    }).then((willDelete) => {
                        if(willDelete){
                            this.items.splice(del, 1)
                            this.localData()
                        } else{
                            
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>
